html {
    box-sizing: border-box;
  }
  :root {
    --light-green: #00ff00;
    --dark-green: #003b00;
    --dark-grey: #777;
    --light-grey: #dadce0;
    --fushia:#ff00ff
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  }
  
  header {
    width: 100%;
    height: 10%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--fushia);
    padding: 5px 10px;
    align-items: center;
  }
  #title {
    margin-bottom: 15px;
    margin-left: 10%;
    font-size: 22px;
    color: white;
  }
  .uploadDiv {
    margin: 150px 50px 25px 200px;
  }
  
  form {
    height: calc(100% - 10px);
  }

  .element {
    display: inline-flex;
    align-items: center;
  }
  i.fa-paperclip{
    margin: 10px;
    cursor: pointer;
    font-size: 30px;
  }
  i:hover {
    opacity: 0.6;
  }
  #uploadInput{
    display: none;
  }
  .fpath_form{
    display: inline-flex;
    align-items: center;
  }
 /* #uploadSubmit {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    color:#FFF;
    background: #4285F4;
    border-bottom: solid 4px #4285F4;
    border-radius: 3px;
  }*/
  