* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #4285F4;
  padding: 20px 10px;
}


.header a.logo{
  font-size: 25px;
  font-weight: bold;
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none; 
  line-height: 25px;
  border-radius: 4px;
}
.header-right a.settings{
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none; 
  line-height: 25px;
  border-radius: 4px;
}



.header-right {
  margin-left: 92%;
}

.uploadTab {
	 margin: 10% 10% 2% 15%;
}
 input[type=submit] {
  background-color: #4285F4;
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:127px;
}
#log_file_upload,#config_file_upload,#bucket,#log_level,#bucket_name_label,#platform_label{
 font-size: 20px;
}
#log_file ,#edit_config{
	margin-left:50px;
}
#config_file {
 margin-left:20px
}

.settings-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.settings-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

  
}
.header-right:hover .settings-content {display: block;}

.settings-content a:hover {background-color: #ddd;}
