<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title> Radar-log-parser</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

<div class="header">
  <a  class="logo">Log Parser</a>
  <div class="header-right">
   <a class="settings">Settings</a>
   <div class = "settings-content">
    <a href="UploadConfig" >Upload Config</a>
    <a href="deleteConfig">Delete Config</a>
    <a href="editConfig">EditConfig</a>
   </div>
  </div>
</div>
<div class = "uploadTab">
	<form method="POST" enctype="multipart/form-data">
      <label id = "config_file_upload"for="bucket" >Pick a file:</label>
       <select name = "selectedFile" id="config_file" required>
        <option value="0">Configuration:</option>
        {{range $bucket ,$configs := .}}
            <optgroup name ="selectedBucket"label="{{$bucket}}">
                {{range $index, $value := $configs}}
                   <option value="{{ $value }}">{{ $value }}</option>
                {{end}}
            </optgroup>
        {{end}}
      </select><br><br>
       <input type="submit" value = "Delete" >
   </form>
    
</div>

</body>
</html>
