<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title> Radar-log-parser</title>
 <link rel="stylesheet" href="/assets/styles.css">
<style>
.uploadTab {
	 margin: 2% 1% 2% 1%;
     
}
form {
  display:inline-block;
}
textarea {
  font-family: Arial;
  font-size: 12pt;
  width:100%;
  height:100vw;
}
button {
  background-color: #4285F4;
  color: white;
  padding: 10px 32px;
  cursor: pointer;
}
input[type=submit] {
  margin-left:60px;
  margin-right:500px;
}
</style>

<script >

  function submit() {
    document.getElementById("configForm").submit();
  }

 </script>

</head>
<body>

    <div class="header">
        <a  class="logo">Log Parser</a>
        <div class="header-right">
         <a class="settings">Settings</a>
         <div class = "settings-content">
          <a href="UploadConfig" >Upload Config</a>
          <a href="deleteConfig">Delete Config</a>
          <a href="editConfig">EditConfig</a>
         </div>
        </div>
      </div>

<div class = "uploadTab">
	<form method="POST" enctype="multipart/form-data" id = "configForm">
       <label id ="bucket"for="bucket" >Config File:</label>
       <select name = "selectedFile" id="edit_config"  onchange="submit();"required>
        <option value="0">Pick a file:</option>
        {{range $bucket ,$configs := .}}
            <optgroup name ="selectedBucket"label="{{$bucket}}">
                {{range $index, $value := $configs}}
                   <option id = "{{ $value }}" value="{{ $value }}">{{ $value }}</option>
                {{end}}
            </optgroup>
        {{end}}
      </select>
   </form>
</div>
</body>
</html>
