<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" >
    <title> Radar-log-parser</title>
   <link rel="stylesheet" href="/assets/styles.css">
   <style>
     .banner_after,.banner_before{
        width:100%;
        padding:0.3%;
        background-color:	#E8E8E8;
        display: none;  
     }
     .banner_after{
       margin-bottom:0.2%;
     }
     span{
        cursor: pointer;
        margin-left:10%;
     }
     #main{
        margin-left:40%;
     }
    .event {
        color: fuchsia;
        cursor: pointer; 
        text-align: left;
        text-decoration: underline;
        
     }
     .event_line{
       color:blue;
       margin-left:0;
       font-size: 13.5px;
     }
     .content{
        overflow-x: auto;
     }
  </style>
  <script> 
  function expand(elem){
    var name = elem.innerHTML;
    if (name.charAt(0) == "+"){
    	elem.innerHTML = name.replace(name.charAt(0), "");
      var siblings = elem.parentNode.children;
      if(siblings[0].getAttribute("class")==="banner_before"){
        siblings[0].style.display = "block";
      }
      if (siblings[siblings.length-1].getAttribute("class")==="banner_after"){
        siblings[siblings.length-1].style.display = "block";
      }  
    }
  }
   function expandContent(element){
     var expand_number ;
     if(element.innerHTML == "All"){
      expand_number = Math.pow(2,53);
     }
     else{
      var expand_content = element.innerHTML;
      expand_number = parseInt(expand_content.replace(/ /g, ''));
     }
     if (element.parentNode.getAttribute("class")=="banner_after"){
       expandAfterContent(element,expand_number);
     }
     else{
       expandBeforeContent(element,expand_number);
     } 
   }
   function setContent(content_elem,banner_elem,concurrent_banner,startIndex,endIndex,merge,banner_after){
    var xhr = new XMLHttpRequest();
     xhr.onreadystatechange = function() {
       if (xhr.readyState == 4 && xhr.status == 200) {
           var json = JSON.parse(xhr.responseText);
           var content = json["Content"]; 
           var details_node = document.createElement("DIV");
           details_node.style.margin = 0;
           var node= document.createElement("PRE");
           node.style.margin = 0;
           node.innerHTML = content;
           details_node.appendChild(node);
           if(!banner_after){
             banner_elem.setAttribute("data-line-number",startIndex-1);
             content_elem.insertBefore(details_node, content_elem.firstElementChild);
           }
           else{
              banner_elem.setAttribute("data-line-number",endIndex+1);
              content_elem.appendChild(details_node);
           }
           if(merge){
              banner_elem.parentNode.removeChild(banner_elem);
              if(concurrent_banner!=null){
                concurrent_banner.parentNode.removeChild(concurrent_banner);
              }    
           }
           
       }
     }
     var formData = new FormData();
     formData.append("StartIndex",startIndex);
     formData.append("EndIndex",endIndex);
     xhr.open("POST", "/report/events/details", true);
     try { xhr.send(formData); } catch (err) {}
   }
   function expandAfterContent(element,expand_number){
     var content_elem,concurrent_banner,start,end,merge;
     var banner_elem = element.parentNode;
     content_elem = banner_elem.previousElementSibling;
     var line_number = parseInt(banner_elem.getAttribute("data-line-number"));
     start = line_number;
     if(banner_elem.parentNode.nextElementSibling == null){
        end = parseInt(banner_elem.getAttribute("data-full-size"))-1;
        merge = true;
        if (expand_number != Math.pow(2,53) &&(line_number+expand_number-1<end)){
          end = line_number+expand_number-1;
          merge = false;
        }
     }
     else{
        concurrent_banner = banner_elem.parentNode.nextElementSibling.firstElementChild;
        var concur_line_number = parseInt(concurrent_banner.getAttribute("data-line-number"));
        if (expand_number == Math.pow(2,53) || (line_number+expand_number>concur_line_number+1)){
          end = concur_line_number;
          merge = true;
        }
        else {
          end = line_number+expand_number-1;
        }
     }
     setContent(content_elem,banner_elem,concurrent_banner,start,end,merge,true);
   }
   function expandBeforeContent(element,expand_number){
     var content_elem,concurrent_banner,start,end,merge;
     var banner_elem = element.parentNode;
     content_elem = banner_elem.nextElementSibling;
     var line_number = parseInt(banner_elem.getAttribute("data-line-number"));
     end = line_number;
     if(banner_elem.parentNode.previousElementSibling == null){
       start = 0;
       merge = true;
       if (expand_number != Math.pow(2,53) && (line_number+expand_number+1>0)){
         start = line_number+expand_number+1;
         merge = false;
       }
     }
     else{
       concurrent_banner = banner_elem.parentNode.previousElementSibling.lastElementChild;
       var concur_line_number = parseInt(concurrent_banner.getAttribute("data-line-number"));
       if (expand_number == Math.pow(2,53) || (line_number+expand_number<concur_line_number-1)){
         start = concur_line_number;
         merge = true;
       }
       else {
         start = line_number+expand_number+1;
       } 
      }
     setContent(content_elem,banner_elem,concurrent_banner,start,end,merge,false);
    }
  </script>
</head>
<body>
   <div class="header">
     <a  class="logo">Log Parser</a>
     <div class="header-right">
        <a class="settings">Settings</a>
        <div class = "settings-content">
          <a href="/UploadConfig" >Upload Config</a>
          <a href="/deleteConfig">Delete Config</a>
          <a href="/editConfig">EditConfig</a>
        </div>
    </div>
   </div>
  <div class = "content">
    {{range $ind,$line := .MatchLines}}
       {{$ev := index $.Events $line}}
       {{$ev_log := index $.EventLogs $ind}}
       {{$size := $.LogSize}}
       {{$index_before := substract $line 1}}
       {{$index_after := add $line 1}}
       <div class = "details">
          <div class = "banner_before" data-line-number = {{$index_before}}>
            <span id  = "main" onClick="expandContent(this)"> - 5</span>
            <span onClick="expandContent(this)"> - 10</span>
            <span onClick="expandContent(this)"> - 50</span > 
            <span onClick="expandContent(this)">All</span>
          </div>
          <div ></div>
          <a class="event" onClick="expand(this)">+{{$ev}} :</a> <span class = "event_line">{{$ev_log}}</span>
          <div ></div>
          <div class = "banner_after" data-line-number = {{$index_after}}  data-full-size = {{$size}}>
            <span id  = "main" onClick="expandContent(this)"> +5</span>
            <span onClick="expandContent(this)"> +10</span>
            <span onClick="expandContent(this)"> +50</span > 
            <span onClick="expandContent(this)">All</span>
          </div>
        </div>
    {{end}}   
 </div>
</body>
</html>

