<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" >
  <title> Radar-log-parser</title>
  <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>

<div class="header">
  <a  class="logo">Log Parser</a>
  <div class="header-right">
   <a class="settings">Settings</a>
   <div class = "settings-content">
    <a href="/UploadConfig" >Upload Config</a>
    <a href="/deleteConfig">Delete Config</a>
    <a href="/editConfig">EditConfig</a>
   </div>
  </div>
</div>
<div class = "uploadTab">
	<form method="POST" enctype="multipart/form-data" action="/report">
       <label id = "log_file_upload" for="log_file" >Log file:</label>
       <input type="file" id="log_file" name="myFile" accept=".txt,.gz" required ><br><br> 
      <label id = "config_file_upload" for="bucket" >Log format:</label>
       <select name = "selectedFile" id="config_file" required>
        <option value="0">Configuration:</option>
        {{range $bucket ,$configs := .}}
            <optgroup name ="selectedBucket"label="{{$bucket}}">
                {{range $index, $value := $configs}}
                   <option  value="{{ $value }}">{{ $value }}</option>
                {{end}}
            </optgroup>
        {{end}}
      </select><br><br>
       <input type="submit" value = "Analyze" >
   </form>    
</div>
</body>
</html>
