
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title> Radar-log-parser</title>
  <link rel="stylesheet" href="/assets/styles.css">
<style>
#analysisResult {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#analysisResult td, #analysisResult th {
  border: 1px solid #ddd;
  padding: 8px;
  color: grey;
}


#analysisResult tr:hover {background-color: #ddd;}

#analysisResult th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: grey;
}
.details {
  color:fuchsia;
}
.label {
  font-size:25px;
}

</style>
</head>
  <body>
    <div class="header">
      <a  class="logo">Log Parser</a>
      <div class="header-right">
       <a class="settings">Settings</a>
       <div class = "settings-content">
        <a href="UploadConfig" >Upload Config</a>
        <a href="deleteConfig">Delete Config</a>
        <a href="editConfig">EditConfig</a>
       </div>
      </div>
    </div>

        <div>
            <label >Raw Logs</label>
            <br>
            <a class = "details"  href="report/{{.FileName}}">{{.FileName}}</a>
            <br>
            <br>
            <label >Specific Process  Logs</label>
            <br>
            {{ range $pname, $pvalue := .SpecificProcess }}
                <a class = "details"  href="report/{{$pname}}">{{$pname}}</a>
                <br>
                <br>
            {{end}}
        </div>

        <table id="analysisResult">
            <tr>
                {{ range $field := .Header }}
                    <th>{{$field}}</th>
                {{end}}
            </tr>
                {{range $issue := .OrderedIssues}}
                  <tr>
                      {{$issue_details := index $.Issues $issue}}
                      {{range $field := $.Header}}
                           {{ if eq $field "Issue"}}
                              <td>{{$issue}}</td> 
                           {{else}}
                                {{if eq $field "Details"}}
                                    <td><a class = "details"href="report/Details/{{ $issue }}">Details</a></td>
                                {{else}}
                                    {{$field_detail:= index $issue_details $field}}
                                    {{if eq $field_detail ""}}
                                        {{$field_detail = "N/A"}}
                                    {{end}}
                                    <td>{{$field_detail}} </td>
                                {{end}}
                           {{end}}
                      {{end}}
                  </tr>
                {{end}}  
       </table>   
       <div>
         <a class = "details"href="report/events">Important Events</a>
       </div>  
  </body>
</html>



