<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" >
  <title> Radar-log-parser</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <style>
     
     #create_bucket_elements{
     	display:none;
     }
     #config_file_upload{
       margin-right :40px;
     }
    #bucket{
       margin-right :44px;
    }
   #bucket_name_label{
      margin-right :5px;
   }
   #platform_label{
      margin-right :39px;
   }
 </style>
 <script >
    function createBucket() {
      if (document.getElementsByTagName("select")[0].options[document.getElementsByTagName("select")[0].selectedIndex].value == "Create Bucket"){
        document.getElementById("create_bucket_elements").style.display = "block";       
      }
      else{
        	 document.getElementById("create_bucket_elements").style.display = "none";
      }
    }
   </script>
</head>
<body>

  <div class="header">
    <a  class="logo">Log Parser</a>
    <div class="header-right">
     <a class="settings">Settings</a>
     <div class = "settings-content">
      <a href="/UploadConfig" >Upload Config</a>
      <a href="/deleteConfig">Delete Config</a>
      <a href="/editConfig">EditConfig</a>
     </div>
    </div>
  </div>
<div class = "uploadTab">
	<form method="POST" enctype="multipart/form-data" >
       <label id = "config_file_upload"for="config_file" >Config      :</label>
       <input type="file" id="config_file" name="myFile" accept=".yml,.yaml"required ><br><br> 
      <label for="bucket" id ="bucket">Bucket:</label>
       <select name = "selectedFile" id="config_file" onchange="createBucket();" required>
        <option value="0">Pick a bucket:</option>
        {{range $index, $value := .BucketList}}
            <option value="{{ $value }}">{{ $value }}</option>
        {{end}}
        <option value="Create Bucket"style="color:#4285F4;">Create Bucket</option>
      </select><br><br>
      <div id = "create_bucket_elements">
      <label for="bucket_name" id ="bucket_name_label">Bucket Name:</label>
      <input type = "text" name = "bucketName" id ="bucket_name">
      <br>
      <br>
      <label for="platform" id ="platform_label">Platform:</label>
       <select name = "selectedPlatform" id="platform" onchange="createBucket();" required>
        <option value="0">Pick a platform:</option>
         {{range $index, $value := .Platforms}}
            <option value="{{ $value }}">{{ $value }}</option>
          {{end}}
      </select>
      <br>
      <br>
      </div>
       <input type="submit" value = "Upload" >
   </form>  
</div>
</body>
</html>